{% extends "base.html" %} 

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Expense Tracker</h1>
        
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Edit Expense</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Edit Expense</button>
                </form>
            </div>
        </div>
    </div>
    
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
